body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

div.ui.fluid.four.item.menu{
  display: flex !important;
  
  top: 1000px;
  right: 30px;
  bottom: 0 !important;
  
  justify-content: space-evenly !important;
}
div.ui.basic.segment{
  height: 500px !important;
  width: auto;
}
div.ui.segment.pushable{
  height: 1103px !important;
  background-color: rgb(27,28,29) !important;
}
.map{
  position: relative !important;
  width: 1100px !important;
  
}
div.ui.inverted.vertical.labeled.icon.ui.overlay.left.thin.visible.sidebar.menu{

  height: 1060px !important;
  max-width: 300px !important;
  
}
.ui.sidebar.visible { 

  width: calc(1200px) !important;
}

.bars.icon{
  font-size: 25px !important;
}

.search.icon{

  font-size: 25px !important;
}

.user.icon{

  font-size: 25px !important;
}

.sign-out.icon{

    filter:invert(100%) !important;

}

